{% extends 'base.html' %}
{% block title %}{{ block.super }} | Delete{% endblock title %}

{% block contents %}

{% load static %}
{% load django_bootstrap5 %}

<link rel="stylesheet" type='text/css' href="{% static 'user/create.css'%}">

<wrap>
    <div>
        <h1>Delete Account</h1>
    </div>
    <form method="post" class="form">
        {% csrf_token %}

        <div class="alert alert-danger" role="alert">
            Are you sure want to delete your account?
        </div>
        <div class="alert alert-warning" role="alert">
            If you are creater and posted calculator, them will also be deleted.
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
        <div class="mb-3">
            <a class="btn btn-outline-primary" href="{% url 'user:user' %}">Cancel</a>
        </div>
    </form>
</wrap>

{% endblock %}
