{% extends 'base.html' %}
{% block title %}{{ block.super }} | Login{% endblock title %}

{% block contents %}

{% load static %}
{% load django_bootstrap5 %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
    </nav>

    <h1 class="mb-5">Log-in</h1>

    <form method="post" class="w-75 container border rounded-5 p-5 d-flex flex-column">
        {% csrf_token %}

        {% bootstrap_form form %}

        <a href="" class="w-100">Forgot passward?</a>

        <button type="submit" class="btn btn-primary w-100">Login</button>
    
        <div class="text-right">
            <span>Not a member?</span>
            <a href="{% url 'user:sign-up' %}">Sign-up</a>
        </div>
    </form>
</div>

{% endblock %}
