{% extends 'base.html' %}
{% block title %}{{ block.super }} | Login{% endblock title %}

{% block contents %}

{% load static %}
{% load django_bootstrap5 %}

<link rel="stylesheet" type='text/css' href="{% static 'user/create.css'%}">

<wrap>
    <div>
        <h1>Login</h1>
        <p>If you don't have account, <a href="{% url 'user:sign-up' %}">here</a> to sing up</p>
    </div>
    <form method="post" class="form">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content="Login" %}
    </form>
</wrap>

{% endblock %}
