{% extends 'base.html' %}
{% block title %}{{ block.super }} | Change-password{% endblock title %}

{% block contents %}

{% load static %}
{% load django_bootstrap5 %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'user:user' %}">User information</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change password</li>
        </ol>
    </nav>

    <h1 class="mb-5">Change password</h1>

    <form method="post" class="w-75 container border rounded-5 p-5 d-flex flex-column">
        {% csrf_token %}

        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary w-100">Save</button>
    </form>
</div>

{% endblock %}
