{% extends 'base.html' %}
{% block title %}{{ block.super }} | User-information{% endblock title %}

{% block contents %}

{% load static %}
{% load django_bootstrap5 %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User information</li>
        </ol>
    </nav>

    <h1 class="mb-5">User information</h1>

    <form method="post" class="w-75 container border rounded-5 p-5 d-flex flex-column">
        {% csrf_token %}

        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary w-100">Save</button>

        <hr>

        <div class="mb-3">
            <label class="form-label">Password</label><br>
            <a  href="{% url 'user:password' %}">Change password</a>
        </div>

        <hr>

        <div class="mb-3">
            <label class="form-label">Other information</label><br>
            <a  href="{% url 'user:address' %}">- Check & Update address</a><br>
            <a  href="{% url 'user:bank_information' %}">- Check & Update bank information</a>
        </div>
    </form>
</div>

{% endblock %}
