{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block title %}{{ block.super }} | Work location update{% endblock title %}

{% block contents %}

{% load static %}
{% load django_bootstrap5 %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'work_location:list' %}">Work locations</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update for {{ form.name.value }}</li>
        </ol>
    </nav>

    <h1 class="mb-5">Update work location</h1>

    <form method="post" class="w-75 container border rounded-5 p-5 d-flex flex-column">
        {% csrf_token %}
        {{ formset.management_form }}

        <h3 class="mb-3">Work location basic information</h2>
        {% bootstrap_form form exclude="color, disabled" %}
        <div class="mb-3">
            <label class="form-label">
                {{ form.color.label }}
            </label>
            {{ form.color | add_class:"w-100 form-control form-control-color" | attr:"type:color" }}
            <div class="form-text">{{ form.color.help_text }}</div>
        </div>

        <hr>

        <h3 class="mb-3">Status of this work location</h2>

        <div class="mt-1 mb-1 alert alert-warning" role="alert">
            <p class="mb-1">You can make it disabled if this store is not available</p>
            <p class="mb-0">You can make it not disabled any time.</p>
        </div>

        <label class="form-label">
            Stores available
        </label>
        <select id="id_disabled" name="disabled" class="form-select">
            {% if form.disabled.value %}
                <option value="True" selected>No (Store disabled)</option>
                <option value="False">Yes (Store opening)</option>
            {% else %}
                <option value="True">No (Store disabled)</option>
                <option value="False" selected>Yes (Store opening)</option>
            {% endif %}
        </select>

        <hr>

        <button type="submit" class="btn btn-primary w-100">Save</button>

    </form>
</div>

{% endblock %}
