{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block title %}{{ block.super }} | Shift create{% endblock title %}

{% block contents %}

{% load static %}
{% load django_bootstrap5 %}
<link rel="stylesheet" type='text/css' href="{% static 'shift/create.css'%}">

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shift:top_page' %}">Shift</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </nav>

    <h1 class="mb-5">New Shift</h1>

    <div class="shift-calendar mb-5">
        <h4>
        Making time shift From
        <input class="datetimepicker start_datetime form-control w-25 d-inline">
        To
        <input class="datetimepicker end_datetime form-control w-25 d-inline">
        <button class="btn btn-primary make-calendar">Create</button>
        <button class="btn btn-danger delete-calendar" style="display:none;">Delete</button>
        </h4>

        <div class="calendar-container w-100">
        </div>
        <hr class="mb-5">
    </div>

    <button class="btn btn-primary submit">Submit</button>
</div>

<div class="d-none">
    {{ user_shift_formset }}
    {{ break_time_form }}

    <div class="card shift_detail">
        <div class="card-body container">
            <h5 class="card-title">You're selecting </h5>
            <div class="row mb-1">
                <div class="col-5">Work lcoation</div>
                <div class="col-6">
                    <select class='work-location'>
                        <option value="0" color="lightgray"></option>
                        {% for location in work_locations %}
                            <option value="{{ location.id }}" color="{{ location.color }}" style="color:{{ location.color }}">
                                {{ location.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-1 work-location-color" style="color:lightgray">■</div>
            </div>
            <div class="row mb-1">
                <div class="col-5">Start at</div>
                <div class="col-7 start-at" value=""></div>
            </div>
            <div class="row mb-1">
                <div class="col-5">Finish at</div>
                <div class="col-7 finish-at" value=""></div>
            </div>
            <hr>
                <div class="row mb-1">
                    <div class="col">
                        <button type="button" class="btn btn-warning w-100 break">
                        Add break time</button>
                    </div>
                </div>
            <hr>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary w-100 mb-1 save">
                    Save</button>
                    <button class="btn btn btn-outline-danger w-100 delete">
                    Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-calender-modal" tabindex="-1" aria-labelledby="AccessDeniedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger" id="AccessDeniedModalLabel">Delete confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to delete this calendar?
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} library {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% comment %} My js {% endcomment %}
<script>
    $('.datetimepicker').datetimepicker();
    const csrf_token = '{{ csrf_token|safe }}';
    const users = {{ users|safe }};
</script>
<script src="{% static 'shift/create.js' %}"></script>
{% endblock %}
