body {
    overflow-y: scroll;
}

header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 10;

    .col-10 {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        a {
            width: 100px;
        }
    }

    .dropdown>a:nth-child(1) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .dropdown form {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        input {
            width: 100%;
        }
    }
}

main {
    margin-top: 72px;
}