{% extends 'base.html' %}
{% block title %}{{ block.super }} | Management{% endblock title %}

{% block contents %}

{% load static %}
{% load django_bootstrap5 %}

<link rel="stylesheet" type='text/css' href="{% static 'user/create.css'%}">

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Management</li>
        </ol>
    </nav>

    <h1 class="mb-5">Management</h1>

    <ul class="fs-4">
        <li>Access authorization</li>
        <ul>
            <li><a href="{% url 'management:user_access' %}">User access authorization management</a></li>
            <li><a href="{% url 'management:employeetype_access' %}">Employee type access authorization management</a></li>
        </ul>
        <li><a href="{% url 'management:user_list' %}">Users management</a></li>
    </ul>
</div>

{% endblock %}
