<!DOCTYPE html>

{% load static %}
{% load django_bootstrap5 %}

<html lang="ja">

<head>
    <meta charset="utf-8">
    {% bootstrap_javascript %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    {% bootstrap_css %}
    <script src="{% static 'base.js' %}"></script>
    
    <title>{% block title %}Blog{% endblock title %}</title>

    {% block extra_css %}{% endblock %}
</head>

<body>
    {% block contents %}
    {% endblock %}
</body>

</html>