<!DOCTYPE html>

{% load static %}
{% load django_bootstrap5 %}
{% load check_access_authorization %}

<html lang="ja">

<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    {% bootstrap_javascript %}
    {% bootstrap_css %}

    <link rel="stylesheet" type='text/css' href="{% static 'base/base.css'%}">
    <script src="{% static 'base/base.js' %}"></script>

    <title>{% block title %}Shift{% endblock title %}</title>

    {% block extra_css %}{% endblock %}
</head>

<body>
    <header class="p-3 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <a href="/" class="d-flex align-items-center">
                        <img src="{% static 'base/images/clock.png'%}" height="32">
                    </a>
                </div>

                <div class="col-10">
                    <a href="{% url 'shift:private_list' %}" class="link-dark text-decoration-none">Calendar</a>
                    {% url 'shift:create' as shift_create_url %}
                    {% check shift_create_url as result %}
                    {% if result %}
                        <a href="{% url 'shift:create' %}" class="link-dark text-decoration-none">Create shift</a>
                    {% endif %}

                    {% url 'management:top_page' as management_url %}
                    {% check management_url as result %}
                    {% if result %}
                        <a href="{% url 'management:top_page' %}" class="link-dark text-decoration-none">Management</a>
                    {% endif %}
                </div>

                <div class="dropdown col-1">
                    <a href="#" class="link-dark text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined" style="font-size:32px">account_circle</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser1">
                    {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'user:user' %}">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form method="post" action="{% url 'user:log-out' %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Log-out</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'user:log-in' %}?next={{ request.path }}">Log-in</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'user:sign-up' %}">Sign-up</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    
    <main>
        {% block contents %}
        {% endblock %}
    </main>

    <div class="modal fade" id="access-denied-modal" tabindex="-1" aria-labelledby="AccessDeniedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger" id="AccessDeniedModalLabel">Access denied</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Access denied. You are not authorized to view this page.
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>